.menusito {
    font-family: Montserrat;
    
}

.menu {

    list-style: none;
    padding: 0;
    background-color: black;
    width: 100%;
    margin: auto;
    background-size: width: 1440px;
    /* height: 67px; */
}

.menu li a {
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
    width: 100%;
    font-weight: bold;
    font-size: 32px;
    font-family: Montserrat;
    position: relative; top: -20px;
    align-items: center;
}

.menu li {
    display: inline-block;
    text-align: center;
}

.menu li a:hover{
    background: #ef8354;
}

.wpp a:hover{
    background:#ef8354;
}
    
input,textarea {
    display: block;
width: 70%; 
 padding: 10px; 
 /* margin-left: 80px;
  margin-right: 80px; */
   margin-bottom: 55px;
    margin-top: 5px;
}

label {
    display: block;
    margin-left: 80px;
     padding: 10px;
      font-family: Montserrat;
}

.botonenviar {
    font-family: Montserrat;
    font-size: 20px;
    background-color: #39569A;
    color: white;
border-radius: 25px;
    width: 25%;
    margin-top: -20px;
    align-items: center;
    margin-left: 198px;
    margin right: 198px;

    
}

form {
    display: block;
    background-color: lightsteelblue;
width: 70%;
height: 556px;
margin: auto;

}

.cotizacion {
    position: absolute; 
    width: 779px; height: 123px; left: 262px; top: 1294px;
    background-color: #1E2848;
    color: white;
    font-family: Montserrat;
    font-size: 40px;
    border-radius: 55px;


    


}

.cotizacion a:hover{
    background: lightsteelblue;
}

.contac-image {
    margin-top: 24px;
     width: 100%;
      height: 493px;

}